* {
	box-sizing: border-box;
	--bg1: #acc0e0;
	--bg2: #9ac2c9;
	--text: #4a5043;
	--nav: #7a918d;
	--navtext: #ffcb47;
	--footer: #464e5b;
}

body {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
	background-color: var(--bg1);
	font-family: "Josefin Sans";
	scroll-behavior: smooth;
	background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ffffff' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.container {
	width: 100%;
	display: grid;
	grid-template-rows: 400px calc(60vh);
	z-index: -1;
	grid-template-areas:
	"image"
	"info";
}


/*START NAV*/

.nav {
	background: var(--footer);
}

.nav-links {
	text-align: center;
	height: 35px;
	padding-top: 10px;
}


.nav-btn {
	position: absolute;
}

.nav-links a {
	margin-left: 7.5%;
	margin-right: 7.5%;
	text-decoration: none;
	color: white;
	font-size: 20px;
	font-weight: 600;
	z-index: 2;
	text-shadow: 2px 2px #00000023;
	transition: all 0.5s ease;
}

.nav-links a:hover {
	color: var(--navtext);
}

.nav-links a:active {
	border-bottom: 1px solid white;
}

#nav-check {
	display: none;
}

/*END NAV*/



/*START HEADER*/

.header {
	background: white;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
}

.h-img1 {
	background: url("images/2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.h-img2 {
	background: url("images/1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.h-img3 {
	background: url("images/5.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.h-text {
	font-size: 60px;
	margin-top: 150px;
	color: white;
	text-shadow: 2px 2px #00000033;
	text-align: center;
}

/*END HEADER*/



/*START BODY*/

.body {
	grid-area: "info";
	background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ffffff' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.contactContainer {
	display: grid;
	grid-template-columns: 1fr repeat(4, minmax(250px, auto)) 1fr;
	grid-template-rows: repeat(4, 1fr) 2fr 1fr;
	justify-items: center;
	align-items: center;
}

.body-head {
	justify-self: start;
	align-self: end;
	margin-left: 0.7em;
	font-size: 26px;
	grid-area: 1 / 3;
	color: white;
}

.contactInput {
	width: 20.4em;
	height: 4em;
	background: var(--nav);
	color: white;
	border: 2px solid var(--footer);
	border-radius: 2px;
	padding-left: 10px;
}

.contactInput::placeholder {
	color: lightgray;
}

.nameContainer {
	grid-area: 2 / 3;
}

.emailContainer {
	grid-area: 2 / 4;
}

.phoneContainer {
	grid-area: 3 / 3;
}

.locationContainer {
	grid-area: 3 / 4;
}

.interestContainer {
	grid-row: 4;
	grid-column: 3 / span 2;
	width: 41em;
}

.descriptionContainer {
	grid-row: 5;
	grid-column: 3 / span 2;
	text-align: top;
	width: 42em;
	height: 10em;
	padding-bottom: 7em;
}

.submitContainer {
	grid-area: 6 / 3;
}

@media only screen and (max-width: 1200px/*1200px*/) {

	.nav-links {
		position: absolute;
		display: block;
		width: 100%;
		height: 0px;
		top: 0px;
		left: 0px;
		overflow-y: hidden;
		transition: all 0.2s ease-in;
	}

	.nav-links a {
		display: block;
		width 100%;
		font-size: 60px;
		margin-top: 100px;
	}

	.nav-btn label {
		background: #00000033;
		position: fixed;
		right: 0px;
		top: 0px;
		width: 50px;
		height: 50px;
		z-index: 2;
		transition: all 0.3s ease-in;
	}

	.nav-btn label span {
		position: absolute;
		display: block;
		width: 20px;
		margin: auto;
		margin-top: 17%;
		border-top: 2px solid white;
		transition: all 0.3s ease-in;
		transform-origin: 1.5px 1px;
	}

	.nav-btn label:hover {
		background: var(--navtext);
	}

	#btn-line-left {
		margin-left: 15px;
		margin-top: 10px;
	}

	#btn-line-remove {
		margin-left: 15px;
		margin-top: 22.25px;
	}

	#btn-line-right {
		margin-left: 15px;
		margin-top: 35px;
	}

	#nav-check:not(:checked) + .nav-links {
		height: 0px;
	}

	#nav-check:checked + .nav-links {
		height: calc(100vh);
		background: var(--bg2);
		overflow-y: auto;
		position: fixed;
	}

	#nav-check:checked + .nav-btn label span {
		border-top: 2px solid #00000000;
	}

	.body-head {
		grid-area: 1 / 1;
		font-size: 50px;
		margin-left: 0.5em;
	}

	.contactContainer {
		grid-template-columns: 0.1fr 1fr 1fr 0.1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr 2fr 1fr;
	}

	.contactInput {
		width: 80%;
		height: 4vh;
		margin: 0;
		font-size: 3vw;
	}

	.nameContainer {
	grid-area: 2 / 2;
	}

	.emailContainer {
	grid-area: 2 / 3;
	}

	.phoneContainer {
	grid-area: 3 / 2;
	}

	.locationContainer {
	grid-area: 3 / 3;
	}

	.interestContainer {
	grid-column: 2 / span 2;
	grid-row: 4;
	width: 90.5%;
	}

	.descriptionContainer {
	grid-column: 2 / span 2;
	grid-row: 5;
	width: 90.5%;
	height: 100%;
	font-size: 18px;
	padding: 10px;
	}

	.submitContainer {
	grid-area: 6 / 2;
	}

	.submitInput:hover {
		background: white;
	}

}

@media only screen and (max-width: 1000px/*1000px*/) {

	.container {
		grid-template-rows: calc(100vh) calc(50vh);
	}

	.header {
		grid-template-columns: 0fr 1fr 0fr;
	}

	.h-img2 {
		background-position: top left;
	}

	.h-text {
		font-size: 100px;
		margin-top: calc(40vh);
	}

	.nav-btn label {
		width: 100px;
		height: 100px;
		position: fixed;
	}

	.nav-btn label span {
		width: 40px;
		height: 10px;
		transform-origin: 2px 1px;
	}

	#btn-line-left {
		margin-left: 30px;
		margin-top: 20px;
	}

	#btn-line-remove {
		margin-left: 30px;
		margin-top: 45px;
	}

	#btn-line-right {
		margin-left: 30px;
		margin-top: 70px;
	}

}
